.timer {
  position: absolute;
  top: 5px;
  left: 40px;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 20px;
}

.number {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img{
  width: 50px;
}